<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reggie.mapper.DishMapper">
    <insert id="insert" parameterType="dish" useGeneratedKeys="true" keyProperty="id">
        insert into dish
        (name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        VALUES (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>
    <update id="update">
        update dish
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateStatusById">
        update dish
        set status = #{status}
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete
        from dish
        where id = #{id}
    </delete>

    <select id="countByCategoryId" resultType="java.lang.Long">
        select count(id)
        from dish
        where category_id = #{categoryId}
    </select>
    <select id="pageQuery" resultType="com.reggie.vo.DishVO">
        select d.*, c.name as categoryName
        from dish d
        left join category c
        on d.category_id = c.id
        <where>
            <if test="name != null and name !=''">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>
    <select id="getById" resultType="com.reggie.entity.Dish">
        select *
        from dish
        where id = #{id}
    </select>
    <resultMap id="dishAndFlavorMap" type="com.reggie.vo.DishVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="price" property="price"/>
        <result column="image" property="image"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="update_time" property="updateTime"/>

        <collection property="flavors" ofType="DishFlavor">
            <result column="fname" property="name"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>
    <select id="getByIdWithFlavor" resultMap="dishAndFlavorMap">
        select a.*,
               b.name fname,
               b.value
        from dish a
                 left join dish_flavor b
                           on a.id = b.dish_id
        where a.id = #{id}
    </select>
    <select id="list" resultType="com.reggie.entity.Dish" parameterType="dish">
        select * from dish
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="getBySetmealId" resultType="com.reggie.entity.Dish">
        select a.*
        from dish a
                 left join setmeal_dish b on a.id = b.dish_id
        where b.setmeal_id = #{setmealId}
    </select>
    <select id="listWithFlavor" parameterType="Dish" resultMap="dishAndFlavorMap">
        select
        a.*,b.name fname,b.value
        from
        dish a
        left join
        dish_flavor b
        on
        a.id = b.dish_id
        <where>
            <if test="name != null">
                and name like '%${name}%'
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="getDishItemBySetmealId" resultType="com.reggie.vo.DishItemVO">
        select sd.name,
               sd.copies,
               d.image,
               d.description
        from setmeal_dish sd
                 left join
             dish d
             on
                 sd.dish_id = d.id
        where sd.setmeal_id = #{setmealId}
    </select>
</mapper>
